<style >
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}


.leftblock {
    width: 280px;
    height: 939px;
    background-color: darkslategrey;
    border-right: 3px grey solid;
}

.rightblock {
    width: 280px;
    height: 939px;
    background-color: darkslategrey;
    border-left: 3px grey solid;
}


.tytul {
    height: auto;
    width: 80%;
    background-color: #B0B0B0;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin-top: 50px;
    float: left;
    padding: 5px;
    font-size: 25px;
    color: steelblue;
    text-align: center;
    border: 1px steelblue solid;
}

.tekst {
    height: auto;
    width: 80%;
    background-color: #808080;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    float: left;
    border: 1px steelblue solid;
    text-align: justify;
    font-size: 20px;
    padding: 5px;
    color: #efefef;
}

.middleblocktxt {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    height: 100%;
    background-color: dimgrey;
}

.glowny {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.logots3kurwa {
    width: auto;
    height: 115px;
}

.podtekst {
    height: auto;
    width: 70%;
    background-color: #808080;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    float: left;
    border: 1px steelblue solid;
    text-align: justify;
    font-size: 20px;
    padding: 5px;
    color: #efefef;
}

</style >
